<app-header></app-header>


<ion-content>
    <ion-img width="640" height="426" [src]="team.image"></ion-img>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <div class="ion-text-center eventHeader">
            <h3>{{team.name}}</h3>
          </div>
        </ion-card-title>
      </ion-card-header>
    </ion-card>

        <span class="participantsText">Membres :</span>
        <ion-list>
          <ion-item *ngFor="let member of getMembers(team.id)" [routerLink] = "[pathOnClick, member.id]">
            <ion-avatar slot="start">
              <ion-img [src]="member.image"> </ion-img>
            </ion-avatar >
            <ion-label>
              {{member.name}}
            </ion-label>
              <span [class]="getAthleteCountryFlag(member.Country.flag)"></span>
            
          </ion-item>
        </ion-list>
        <canvas #pieCanvas></canvas>
        
</ion-content>