<ion-header>
  <ion-toolbar>
    <ion-title>
      Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="mapId" style="width: 100%; height: 100%;">
    <ion-fab style="margin-top: 70px;">
      <ion-fab-button  translucent="true" mode ="ios" size="small"> 
        <ion-icon name="search" ></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="bottom">
        <ion-fab-button *ngFor="let e of getSportsFilters()" mode ="ios" size="small" style="opacity: 0.5;"  class={{e.name}} onclick="
          function action(event){
            event.stopPropagation()
          }
          action(event);
          var c = this.className.split(' ')[0];
          const classedMarkers = document.querySelectorAll('img.'+c);
          const button = document.querySelector('.'+c)
          button.style.opacity = 0.5*Math.pow(button.style.opacity,-1);
          classedMarkers.forEach(element => {
            element.style.opacity = 1 -element.style.opacity;
          });
        "> 
          <fa-icon [icon]="e.image"></fa-icon>
        </ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="end">
        <ion-fab-button><ion-icon name="star-outline"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="padding-bottom: 10px;">
    <ion-fab-button color="primary" (click)="setViewMyPos()">
      <ion-icon name="locate"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
