.eventHeader {
    margin-bottom: 20px;
    margin-top: 10px;
}

.participantsText {
    margin-left: 20px;
}

.winnerDiv {
    margin-bottom: 20px;
}

.winner {
    margin-bottom: 10px;
}

.full {
    width: 100%;
}

ion-slide{
    display: block !important;
    align-items: unset !important;
  }