<app-header></app-header>


<ion-content>

    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button color="warning" (click)="unfavoriteEvent()" *ngIf="isFavorite">
            <ion-icon name="star"></ion-icon>
          </ion-fab-button>
          <ion-fab-button size="small" color="warning" (click)="favoriteEvent()" *ngIf="!isFavorite">
            <ion-icon name="star-outline"></ion-icon>
          </ion-fab-button>
      </ion-fab>

  <ion-img [src]="event.image"></ion-img>
  <div class="ion-text-center eventHeader">
  <h3>{{event.name}}</h3>
  {{event.beginDate.toLocaleString()}}
</div>
<div class="winnerDiv" *ngIf = "event.ended">
  <span class="participantsText">Vainqueur :</span>
  <ion-list>  
    <ion-item class="winner" [routerLink] = "['/athletes/', winner.id]">
      <ion-avatar slot="start">
        <ion-img [src]="winner.image"> </ion-img>
      </ion-avatar >
      <ion-label>
        🥇 - {{winner.name}}
      </ion-label>
      <span [class]="getAthleteCountryFlag(winner.Country.flag)"></span>
    </ion-item>


    
    <span class="participantsText">Podium :</span>

    <ion-item *ngFor="let athlete of podium; let i = index" [routerLink] = "['/athletes/', athlete.id]">
      <ion-avatar slot="start">
        <ion-img [src]="athlete.image"> </ion-img>
      </ion-avatar >
      <ion-label *ngIf="i===0">
        🥈 - {{athlete.name}}
      </ion-label>
      <ion-label *ngIf="i===1">
        🥉 - {{athlete.name}}
      </ion-label>
      <ion-label *ngIf="i>=2">
        &nbsp;&nbsp;{{i+2}} - {{athlete.name}}
      </ion-label>
      <span [class]="getAthleteCountryFlag(athlete.Country.flag)"></span>
        
    </ion-item>

  </ion-list>

  
</div>
  

<ion-content *ngIf="!event.ended">
  <span class="participantsText">Participants :</span>
  <ion-list>
    <ion-item *ngFor="let participant of participants" [routerLink] = "[pathOnClick, participant.id]">
      <ion-avatar slot="start">
        <ion-img [src]="participant.image"> </ion-img>
      </ion-avatar >
      <ion-label>
        {{participant.name}}
      </ion-label>
        <span [class]="getAthleteCountryFlag(participant.Country.flag)"></span>
      
    </ion-item>
  </ion-list>


  <ion-button *ngIf="!event.ended" expand="block" size="large">
    M'y rendre  
    <ion-icon name="navigate"></ion-icon>
  </ion-button>



</ion-content>
 
</ion-content>
