<app-header></app-header>


<ion-content>
  <ion-img [src]="event.image"></ion-img>
  <div class="ion-text-center eventHeader">
  <h3>{{event.name}}</h3>
    {{event.beginDate}} - {{event.beginHour}}
</div>
<div class="winnerDiv" *ngIf = "event.ended">
  <span class="participantsText">Vainqueur :</span>
  <ion-item  [routerLink] = "['/athletes/', winner.id]">
    
    <ion-avatar slot="start">
      <ion-img [src]="winner.image"> </ion-img>
    </ion-avatar >
    <ion-label>
      {{winner.name}}
      </ion-label>
      <span [class]="getAthleteCountryFlag(winner.Country.flag)"></span>
  </ion-item>
</div>
  

<ion-content>
  <span class="participantsText">Participants :</span>
  <ion-list>
    <ion-item *ngFor="let participant of participants" [routerLink] = "[pathOnClick, participant.id]">
      <ion-avatar slot="start">
        <ion-img [src]="participant.image"> </ion-img>
      </ion-avatar >
      <ion-label>
        {{participant.name}}
      </ion-label>
        <span [class]="getAthleteCountryFlag(participant.Country.flag)"></span>
      
    </ion-item>
  </ion-list>


  <ion-button *ngIf="!event.ended" expand="block" size="large">
    M'y rendre  
    <ion-icon name="navigate"></ion-icon>
  </ion-button>



</ion-content>
 
</ion-content>
