<app-header-tabs></app-header-tabs>

<ion-content>
    
  <ion-row>
    <ion-col size="10">
      <ion-searchbar
      animated placeholder="Cherchez par nom ou sport favori..."
      (ionInput) = "filterEvents($event)"
      >
     </ion-searchbar>
    </ion-col>

    <ion-col>
      <ion-button (click) = "presentPopover()" size="small" id="filterOptions">...</ion-button>
    </ion-col>
    
  </ion-row>

  <ion-list>

    <ion-item class="eventItem" *ngFor = "let event of getAllEvents()" >
      <ion-card  class="welcome-card" [routerLink] = "['./', event.id]">
        
        <ion-card-header>
            <ion-card-title class="mainTitle">{{event.name}}</ion-card-title>
          <ion-card-subtitle>
            {{event.type}}
          </ion-card-subtitle>
          
        </ion-card-header>
        <img [src]="event.image"/>
          <ion-grid>
            <ion-row class="ion-no-padding">
              <ion-col>
                  <h3>
                      <fa-icon [icon]="getSportIcon(event.type)"></fa-icon>
                       <strong id="eventPlace" >{{event.place}}</strong>
                  </h3>
                 
              </ion-col>
            </ion-row>

            <ion-row class="ion-no-padding">
              <ion-col size="auto">
                <ion-chip color="secondary">
                  <ion-label color="dark">{{event.beginDate}} - {{event.beginHour}}</ion-label>
                </ion-chip>
              </ion-col >
  
              <ion-col class="ion-text-right">
                <ion-chip color="danger" *ngIf="event.ended; else notEnded">
                  <ion-label color="danger">Terminé</ion-label>
                </ion-chip>
                <ng-template #notEnded>
                  <ion-chip color="success">
                    <ion-label color="success">En cours</ion-label>
                  </ion-chip>
                </ng-template>
              </ion-col>
            </ion-row>
          </ion-grid>


        <ion-button *ngIf="!event.ended" [routerLink] = "['/athletes/', 1]" expand="block" size="large">Je veux m'y rendre 
          <ion-icon name="navigate"></ion-icon></ion-button> 
      </ion-card>

    </ion-item>
    <ion-item class="noEventsAvailable" slot="fixed" *ngIf="getAllEvents().length <= 0 || !getAllEvents()">
        Pas d'événement disponible.
    </ion-item>

  </ion-list>

</ion-content>