<app-header></app-header>


<ion-content>
  <ion-list>
    <ion-item class="eventItem" *ngFor = "let event of events" >
      <ion-card  class="welcome-card" [routerLink] = "['./', event.id]">
        
        <ion-card-header>
            <ion-card-title class="ion-text-center mainTitle">{{event.name}}</ion-card-title>
          <ion-card-subtitle>
            {{event.type}}</ion-card-subtitle>
          
        </ion-card-header>
        <img [src]="event.image"/>
          <ion-grid>
              <ion-item>
                  <ion-icon name="football" item-start large></ion-icon>
                  <h2>{{event.place}}</h2>
                  <p>{{event.address}}</p>
                </ion-item>

            <ion-row class="ion-no-padding">
              <ion-col size="auto">
                {{event.beginDate}} - {{event.beginHour}}
                
              </ion-col >
  
              <ion-col class="ion-text-right">
                <strong *ngIf="event.ended; else notEnded">Terminé</strong>
                <ng-template #notEnded>
                  <strong>En cours</strong>
                </ng-template>
              </ion-col>
            </ion-row>
          </ion-grid>


        <ion-button  [routerLink] = "['/athletes/', 1]" expand="block" size="large">Go 
          <ion-icon name="navigate"></ion-icon></ion-button> 
      </ion-card>

    </ion-item>
  </ion-list>
 
</ion-content>
