.eventItem {
  height: 100%;
  display: block;
}

.mainTitle {
  font-size: large;
}

.noEventsAvailable {
  display: flex!important;
  align-content: center!important;
  align-items: center!important;
  background-color: #000;
}

#filterOptions {
  margin-top: 12px;
}

#eventPlace {
  margin-left: 10px;
}