<app-header-tabs></app-header-tabs>

<ion-content>
    
  <ion-list>
      <ion-searchbar
       animated placeholder="Cherchez par nom ou sport favori..."
       (ionInput) = "filterEvents($event)"
       >
      </ion-searchbar>

    <ion-item class="eventItem" *ngFor = "let event of events" >
      <ion-card  class="welcome-card" [routerLink] = "['./', event.id]">
        
        <ion-card-header>
            <ion-card-title class="mainTitle">{{event.name}}</ion-card-title>
          <ion-card-subtitle>
            {{event.type}}
          </ion-card-subtitle>
          
        </ion-card-header>
        <img [src]="event.image"/>
          <ion-grid>
            <ion-row class="ion-no-padding">
              <ion-col>
                  <h3>
                      <img [src]="event.icon" style="width: 35px; height: 35px; float:left ;"/>
                       <strong>{{event.place.name}}</strong>
                  </h3>
                 
              </ion-col>
            </ion-row>

            <ion-row class="ion-no-padding">
              <ion-col size="auto">
                {{event.beginDate.toLocaleString()}}
                
              </ion-col >
  
              <ion-col class="ion-text-right">
                <strong *ngIf="event.ended; else notEnded">Terminé</strong>
                <ng-template #notEnded>
                  <strong>En cours</strong>
                </ng-template>
              </ion-col>
            </ion-row>
          </ion-grid>


        <ion-button *ngIf="!event.ended" [routerLink] = "['/athletes/', 1]" expand="block" size="large">Je veux m'y rendre 
          <ion-icon name="navigate"></ion-icon></ion-button> 
      </ion-card>

    </ion-item>
    <ion-item class="noEventsAvailable" slot="fixed" *ngIf="events.length <= 0 || !events">
        Pas d'événement disponible.
    </ion-item>

  </ion-list>

</ion-content>
