<ion-content>
  <div id="mainText">Filtrez par vos sports favoris !</div>
  <ion-content id="resetFiltersbtn">
    <a (click) = "resetFilters()" size="small" id="filterOptions">Annuler filtres</a>
  </ion-content>
  <ion-grid>
    <ion-row class="row" responsive-sm wrap>
      <ion-col *ngFor="let sport of getAllSportsFilters()" size="4">
          <div class="img-wrapper">
            <img (click)="filterBySport(sport)" [ngStyle]="{'filter': getSportContrast(sport)}" [src]="sport.image" />
          </div>
      </ion-col> 
      </ion-row>
  </ion-grid>
</ion-content>