<!-- Display of event -->
<ion-item-sliding *ngIf="favorite.category === 'event'">
  <ion-item [routerLink] = "['/events/', favorite.id]">
    <ion-icon slot="start" name="calendar"></ion-icon>
    <ion-label>{{favorite.name}}</ion-label>
    <ion-chip slot="end" color={{getEventColor(favorite.status)}}>
      <ion-label>{{favorite.status}}</ion-label>
    </ion-chip>
  </ion-item>
  
  <ion-item-options side="end">
    <ion-item-option color="danger" (click)="presentConfirm(favorite)">
      <ion-icon slot="end" name="trash"></ion-icon>
      Delete
    </ion-item-option>
  </ion-item-options>

  <ion-item-options side="start">
    <ion-item-option color="danger" (click)="presentConfirm(favorite)">
      <ion-icon slot="end" name="trash"></ion-icon>
      Delete
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>

<!--Display of Sport-->
<ion-item-sliding *ngIf="favorite.category === 'sport'">
  <ion-item (click)="openLink(favorite)">
    <ion-icon slot="start" name="football"></ion-icon>
    <ion-label>{{favorite.name}}</ion-label>
  </ion-item>
  
  <ion-item-options side="end">
    <ion-item-option color="danger" (click)="presentConfirm(favorite)">
      <ion-icon slot="end" name="trash"></ion-icon>
      Delete
    </ion-item-option>
  </ion-item-options>

  <ion-item-options side="start">
    <ion-item-option color="danger" (click)="presentConfirm(favorite)">
      <ion-icon slot="end" name="trash"></ion-icon>
      Delete
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>

<!--Display of Country-->
<ion-item-sliding *ngIf="favorite.category === 'country'">
  <ion-item [routerLink] = "['/teams', favorite.id]">
    <ion-avatar slot="start">
      <ion-img [src]="favorite.image"></ion-img>
    </ion-avatar>
    <ion-label>{{favorite.name}}</ion-label>
  </ion-item>
  
  <ion-item-options side="end">
    <ion-item-option color="danger" (click)="presentConfirm(favorite)">
      <ion-icon slot="end" name="trash"></ion-icon>
      Delete
    </ion-item-option>
  </ion-item-options>

  <ion-item-options side="start">
    <ion-item-option color="danger" (click)="presentConfirm(favorite)">
      <ion-icon slot="end" name="trash"></ion-icon>
      Delete
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>

<!--Display of athlete-->
<ion-item-sliding *ngIf="favorite.category === 'athlete'">
  <ion-item [routerLink] = "['/athletes', favorite.id]">
    <ion-avatar slot="start">
      <ion-img [src]="favorite.image"></ion-img>
    </ion-avatar>
    <ion-label>{{favorite.name}}</ion-label>
  </ion-item>
  
  <ion-item-options side="end">
    <ion-item-option color="danger" (click)="presentConfirm(favorite)">
      <ion-icon slot="end" name="trash"></ion-icon>
      Delete
    </ion-item-option>
  </ion-item-options>

  <ion-item-options side="start">
    <ion-item-option color="danger" (click)="presentConfirm(favorite)">
      <ion-icon slot="end" name="trash"></ion-icon>
      Delete
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>

