<ion-header>
  <ion-toolbar>

    <ion-title *ngIf="!addingFavorite">Mes Favoris</ion-title>
    <ion-title *ngIf="addingFavorite">Ajouter des Favoris</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!addingFavorite">
  <!--Searchbar-->
  <ion-searchbar placeholder="Rechercher" (ionChange)="onSearchChange($event)" [debounce]="250" showCancelButton="focus"></ion-searchbar>

  <!-- Filter bar -->
   <ion-toolbar class="filterBar">
     <ion-grid fixed>
       <ion-row>
         <ion-col size="3">
           <ion-icon id="country1" (click)="filter('country')" class="filter icon" name="flag"></ion-icon>
         </ion-col>
         <ion-col size="3">
           <ion-icon id="event1" (click)="filter('event')" class="filter icon" name="calendar"></ion-icon>
         </ion-col>
         <ion-col size="3">
           <ion-icon id="athlete1" (click)="filter('athlete')" class="filter icon" name="person"></ion-icon>
         </ion-col>
         <ion-col size="3">
           <ion-icon id="sport1" (click)="filter('sport')" class="filter icon" name="football"></ion-icon>
         </ion-col>
       </ion-row>
     </ion-grid>
    <ion-icon slot="end" (click)="addNewFavorite()" class="icon" name="add-circle-outline"></ion-icon>
  </ion-toolbar>

  <ion-list>
    <div *ngIf="displayFavorite.length === 0; else notEmpty" class="emptyMes">
      <ion-label>Vous n'avez pas encore de favoris.</ion-label>
      <br/>
      <ion-label>Vous pouvez appuyer sur "<ion-icon name="add-circle-outline"></ion-icon>" afin d'ajouter des favoris.</ion-label> 
    </div>
    <ng-template #notEmpty>
      <app-favorite-display *ngFor="let fav of displayFavorite" class="item" [favorite]="fav" (toDisplay)="update($event)"></app-favorite-display>
    </ng-template>
  </ion-list> 

</ion-content>


<ion-content *ngIf="addingFavorite">
  <!--Searchbar-->
  <ion-searchbar placeholder="Rechercher" (ionChange)="onSearchChange($event)" [debounce]="250" showCancelButton="focus"></ion-searchbar>

  <!--Filter Bar-->
  <ion-toolbar class="filterBar">
    <ion-grid fixed>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="3" class="ion-align-self-center">
          <ion-icon id="country2" (click)="choice('country')" class="filter icon" name="flag"></ion-icon>
        </ion-col>
        <ion-col size="3" class="ion-align-self-center">
          <ion-icon id="event2" (click)="choice('event')" class="filter icon" name="calendar"></ion-icon>
        </ion-col>
        <ion-col size="3" class="ion-align-self-center">
          <ion-icon id="athlete2" (click)="choice('athlete')" class="filter icon" name="person"></ion-icon>
        </ion-col>
        <ion-col size="3" class="ion-align-self-center">
          <ion-icon id="sport2" (click)="choice('sport')" class="filter icon" name="football"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
 </ion-toolbar>

  <ion-list>
    <span *ngFor="let addable of addables">
      <span *ngIf="favoriteItems.indexOf(addable) === -1">
        <ion-item *ngIf="filters === 'all' || addable.category === filters" (click)="addFavorite(addable)">
          <ion-avatar slot="start" *ngIf="addable.category ==='athlete' || addable.category === 'country'">
            <img [src]="addable.image" />
          </ion-avatar>
          <ion-icon *ngIf="addable.category==='event'" slot="start" name="calendar"></ion-icon>
          <ion-icon *ngIf="addable.category==='sport'" slot="start" name="football"></ion-icon>
          <ion-label>{{addable.name}}</ion-label>
          <ion-icon [hidden]="toAdd.indexOf(addable) ===-1" slot="end" name="star"></ion-icon>
        </ion-item>
      </span>
    </span>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="toAdd.length!==0; else other" color="success" (click)="confirmAdding()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
    <ng-template #other>
      <ion-fab-button color="danger" (click)="confirmAdding()">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </ng-template>
  </ion-fab>

</ion-content>



