<ion-header>
  <ion-toolbar>

    <ion-title>Favoris</ion-title>

    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<!--<ion-content color="light">
  <ion-row>
    <ion-col size="12" class="ion-padding">
      <ion-title>Mes équipes</ion-title>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-list>
        <ion-item-sliding *ngFor="let nation of nationItems">
          <ion-item [routerLink] = "['/teams', nation.id]">
            <ion-avatar slot="start">
              <img [src]="nation.image">
            </ion-avatar>
            <ion-label>
              <h2>{{ nation.name }}</h2>
              <p>{{ nation.type }}</p>
            </ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="presentConfirm(nation.id, 'Team')">
              <ion-icon slot="end" name="trash"></ion-icon>
              Delete
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

        <span class="noFavoritesMsg" *ngIf = "!nationItems || nationItems.length <= 0">Pas d'équipe dans vos favoris</span> 
      </ion-list>
      <ion-button (click)="onClick()" class="ion-float-right">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col size="12" class="ion-padding">
      <ion-title>Mes événements</ion-title>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-list>
        <ion-item-sliding *ngFor="let event of eventItems">
          <ion-item [routerLink] = "['/tabs/tab1', event.id]">
            <ion-avatar slot="start">
              <img [src]="event.image">
            </ion-avatar>
            <ion-label>
              <h2>{{ event.name }}</h2>
              <p>{{ event.type }}</p>
            </ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="presentConfirm(event.id, 'Event')">
              <ion-icon slot="end" name="trash"></ion-icon>
              Delete
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <span class="noFavoritesMsg" *ngIf = "!eventItems || eventItems.length <= 0">Pas d'événements dans vos favoris</span> 
      </ion-list>
      <ion-button (click)="onClick()" class="ion-float-right">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>



  <ion-row>
    <ion-col size="12" class="ion-padding">
      <ion-title>Mes athlètes</ion-title>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-list>
        <ion-item-sliding *ngFor="let athlete of athleteItems">
          <ion-item [routerLink] = "['/athletes', athlete.id]">
            <ion-avatar slot="start">
              <img [src]="athlete.image">
            </ion-avatar>
            <ion-label>
              <h2>{{ athlete.name }}</h2>
              <p>{{ athlete.sport }}</p>
            </ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="presentConfirm(athlete.id, 'Athlete')">
              <ion-icon slot="end" name="trash"></ion-icon>
              Delete
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <span class="noFavoritesMsg" *ngIf = "!athleteItems || athleteItems.length <= 0">Pas d'athlètes dans vos favoris</span> 
      </ion-list>
      <ion-button (click)="onClick()" class="ion-float-right">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" class="ion-padding">
      <ion-title>Mes sports</ion-title>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-list>
        <ion-item-sliding *ngFor="let sport of getSportItems()">
          <ion-item >
            <ion-avatar slot="start">
              <img [src]="sport.image">
            </ion-avatar>
            <ion-label>
              <h2>{{ sport.name }}</h2>
            </ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="presentConfirm(sport, 'Sport')">
              <ion-icon slot="end" name="trash"></ion-icon>
              Delete
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>

        <span class="noFavoritesMsg" *ngIf = "!getSportItems() || getSportItems().length <= 0">Pas de sport dans vos favoris</span> 
      </ion-list>
      <ion-button [routerLink] = "['/sports-favorite']" class="ion-float-right">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>-->

<ion-content *ngIf="!addingFavorite">
  <!-- Filter bar -->
   <ion-toolbar class="filterBar">
    <ion-icon id="country1" (click)="filter('country')" class="filter icon" name="flag"></ion-icon>
    <ion-icon id="event1" (click)="filter('event')" class="filter icon" name="calendar"></ion-icon>
    <ion-icon id="athlete1" (click)="filter('athlete')" class="filter icon" name="person"></ion-icon>
    <ion-icon id="sport1" (click)="filter('sport')" class="filter icon" name="football"></ion-icon>
    <ion-icon slot="end" (click)="addNewFavorite()" class="icon" name="add-circle-outline"></ion-icon>
  </ion-toolbar>

  <ion-list>
    <app-favorite-display *ngFor="let fav of displayFavorite" class="item" [favorite]="fav" (toDisplay)="update($event)"></app-favorite-display>
  </ion-list> 

</ion-content>


<ion-content *ngIf="addingFavorite">

  <ion-toolbar class="filterBar">
    <ion-icon id="country2" (click)="choice('country')" class="filter icon" name="flag"></ion-icon>
    <ion-icon id="event2" (click)="choice('event')" class="filter icon" name="calendar"></ion-icon>
    <ion-icon id="athlete2" (click)="choice('athlete')" class="filter icon" name="person"></ion-icon>
    <ion-icon id="sport2" (click)="choice('sport')" class="filter icon" name="football"></ion-icon>
  </ion-toolbar>

  <ion-list>
    <span *ngFor="let addable of addables">
      <span *ngIf="favoriteItems.indexOf(addable) === -1">
        <ion-item *ngIf="filters === 'all' || addable.category === filters" (click)="addFavorite(addable)">
          <ion-avatar slot="start" *ngIf="addable.category ==='athlete' || addable.category === 'country'">
            <img [src]="addable.image" />
          </ion-avatar>
          <ion-icon *ngIf="addable.category==='event'" slot="start" name="calendar"></ion-icon>
          <ion-label>{{addable.name}}</ion-label>
          <ion-icon [hidden]="toAdd.indexOf(addable) ===-1" slot="end" name="star"></ion-icon>
        </ion-item>
      </span>
    </span>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="confirmAdding()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>



