<ion-card [ngStyle]="{'background-image':'url('+imageURL+')'}"  class="welcome-card">
<!-- <ion-card class="welcome-card" color="gray"> -->
        
  <ion-card-header>
    <ion-row>
      <ion-col size="auto">
        <ion-card-title class="mainTitle">{{event.name}}</ion-card-title>
        <ion-card-subtitle>
          {{event.type}}
        </ion-card-subtitle>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-chip [color]="getEventColor(event.status)">
          <h4>{{event.status}}</h4>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-card-header>

    <ion-img class="eventImage" *ngIf = "event.status === 'En cours' || event.status === 'Bientot'" [src]="event.image">

    </ion-img>

    <ion-grid>
      <ion-row *ngIf = "event.status !== 'Terminé'" class="ion-no-padding">
        <ion-col>
            <h3>
              <fa-icon [icon]="event.icon"></fa-icon>
                 <strong id="eventPlace" >{{event.place.name}}</strong>
            </h3>
           
        </ion-col>
      </ion-row>

      <ion-row *ngIf = "event.status !== 'Terminé'" class="ion-no-padding">
        <ion-col size="auto">                
          <span>
               <strong id="eventPlace" >{{getBeginDate()}}</strong>
          </span>
        </ion-col >
      </ion-row>

      <ion-row *ngIf = "event.status !== 'Terminé'">
        <ion-col style = "text-align: center;">
          <ion-chip color="secondary">
            <ion-icon name="compass"></ion-icon>
            <ion-label color="dark">{{getDistance()}} km</ion-label>
          </ion-chip>

          <ion-chip color="success">
            <ion-icon name="walk"></ion-icon>
            <ion-label color="dark">{{getDurationByFeet()}}</ion-label>
          </ion-chip>

          <ion-chip color="success">
            <ion-icon name="car"></ion-icon>
            <ion-label color="dark">{{getDurationByCar()}}</ion-label>
          </ion-chip>
        </ion-col >

      </ion-row>

      <ion-row *ngIf = "event.status !== 'Terminé'">

        <ion-col>
          <ion-button *ngIf="event.status !== 'Terminé' " [routerLink] = "['/tabs/tab2', event.id]" expand="block" size="large">
            M'y rendre 
            <ion-icon name="navigate"></ion-icon>
          </ion-button>


        </ion-col>
        </ion-row>
        <ion-col>
          <ion-item  *ngIf="event.status === 'Terminé' " class="winner" [routerLink] = "['/athletes/', getEventWinner(event).id]">
            <ion-avatar slot="start">
              <ion-img [src]="getEventWinner(event).image"> </ion-img>
            </ion-avatar >
            <ion-label>
              <span [class]="getAthleteCountryFlag(getEventWinner(event).Country.flag)"></span>
               - {{getEventWinner(event).name}}
            </ion-label>
            <span>🥇</span>
          </ion-item>    
        </ion-col>

    </ion-grid>



  

</ion-card>