<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{athlete.name}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="warning" (click)="unfavoriteAthlete()" *ngIf="isFavorite">
      <ion-icon name="star"></ion-icon>
    </ion-fab-button>
    <ion-fab-button size="small" color="warning" (click)="favoriteAthlete()" *ngIf="!isFavorite">
      <ion-icon name="star-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-img  [src]="athlete.image"></ion-img>

  <div class="ion-text-center basicInfo">
    <ion-icon name="{{athlete.sexe}}"></ion-icon> &nbsp;{{athlete.age}} ans <div [routerLink] = "[pathOnClick, athlete.Country.id]" [class]="getAthleteCountryFlag(athlete.Country.flag)"></div>&nbsp; <fa-icon [icon]="getSportIcon(athlete.sport)"></fa-icon>&nbsp;{{athlete.sport}}
  </div>
  <div class="horizontalLine ion-text-center"></div>
  <table class="medals">
    <tr><th>{{athlete.Medals[2].quantity}} 🥇</th><th> {{athlete.Medals[1].quantity}} 🥈</th><th>{{athlete.Medals[0].quantity}} 🥉</th><th>{{athlete.Defeat}} <ion-icon name="medal"></ion-icon></th></tr>
  </table>
  <div class="horizontalLine ion-text-center"></div>

  

</ion-content>