.verticalLine {
    width:1%;
    height:50px;
    background:#000;
    margin-top: 0;
    position: relative;
    margin-left: 10%;
    margin: 0 auto;
  }

  .col{
    border: 1px solid black;
 }

 .image {
   margin: 0 auto;
   display: inline-grid;
 }