<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{athlete.name}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="warning" (click)="unfavoriteAthlete()" *ngIf="isFavorite">
      <ion-icon name="star"></ion-icon>
    </ion-fab-button>
    <ion-fab-button size="small" color="warning" (click)="favoriteAthlete()" *ngIf="!isFavorite">
      <ion-icon name="star-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-img  [src]="athlete.image"></ion-img>

  <div class="ion-text-center basicInfo">
    <ion-icon name="{{athlete.sexe}}"></ion-icon> &nbsp;{{athlete.age}} ans <div [routerLink] = "[pathOnClick, athlete.Country.id]" [class]="getAthleteCountryFlag(athlete.Country.flag)"></div>&nbsp; <fa-icon [icon]="getSportIcon(athlete.sport)"></fa-icon>&nbsp;{{athlete.sport}}
  </div>
  <div class="horizontalLine ion-text-center"></div>
  <table class="medals">
    <tr><th>{{athlete.Medals[2].quantity}} 🥇</th><th> {{athlete.Medals[1].quantity}} 🥈</th><th>{{athlete.Medals[0].quantity}} 🥉</th><th>{{athlete.Defeat}} <ion-icon name="medal"></ion-icon></th></tr>
  </table>
  <div class="horizontalLine ion-text-center"></div>

<!-- Events -->
  <ion-slides>
    <ion-slide>
      <ion-list>
        <ion-item-divider class="event">
          <ion-label>
            Evenements prochains :
          </ion-label>
        </ion-item-divider>

        <ion-item *ngFor="let event of this.eventService.getAthleteEvents(this.athlete,'Bientot'); let i = index" [routerLink]="['/tabs/tab1/', event.id]"
          detail>
          <ion-grid fixed>
            <ion-row align-items-center>
              <ion-col size="3">
                <ion-avatar item-start>
                  <img [src]="event.iconMap">
                </ion-avatar>
              </ion-col>
              <ion-col size="6">
                {{event.name}}
              </ion-col>
              <ion-col size="2" align-self-center>
                <ion-chip [color]="getEventColor(event.status)">
                  <ion-label>{{event.status}}</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>   
        
        <ion-item *ngFor="let event of this.eventService.getAthleteEvents(this.athlete,'A venir'); let i = index" [routerLink]="['/tabs/tab1/', event.id]"
        detail>
          <ion-grid fixed>
            <ion-row align-items-center>
              <ion-col size="3">
                <ion-avatar item-start>
                  <img [src]="event.iconMap">
                </ion-avatar>
              </ion-col>
              <ion-col size="6">
                {{event.name}}
              </ion-col>
              <ion-col size="2" align-self-center>
                <ion-chip [color]="getEventColor(event.status)">
                  <ion-label>{{event.status}}</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>  
      </ion-list>
    </ion-slide>


    <ion-slide>
      <ion-list>
        <ion-item-divider class="event">
          <ion-label>
            Evenements précédents :
          </ion-label>
        </ion-item-divider>

        <ion-item *ngFor="let event of this.eventService.getAthleteEvents(this.athlete,'Terminé'); let i = index" [routerLink]="['/tabs/tab1/', event.id]"
          detail>
          <ion-grid fixed>
            <ion-row align-items-center>
              <ion-col size="3">
                <ion-avatar item-start>
                  <img [src]="event.iconMap">
                </ion-avatar>
              </ion-col>
              <ion-col size="5">
                {{event.name}}
              </ion-col>
              <ion-col size="1" *ngIf="event.podium[0]==this.athlete.id">
                🥇
              </ion-col>
              <ion-col size="1" *ngIf="event.podium[1]==this.athlete.id">
                🥈
              </ion-col>
              <ion-col size="1" *ngIf="event.podium[2]==this.athlete.id">
                🥉
              </ion-col>
              <ion-col size="1" *ngIf="event.podium[0]!=this.athlete.id && event.podium[1]!=this.athlete.id && event.podium[2]!=this.athlete.id">
                <ion-icon name="medal"></ion-icon>
              </ion-col>
              <ion-col size="2" align-self-center>
                <ion-chip [color]="getEventColor(event.status)">
                  <ion-label>{{event.status}}</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>   
         
      </ion-list>
    </ion-slide>
  </ion-slides>

</ion-content>